.container {
  margin: 20px;
  height: 80vh;
}

.card-view,
.table-view,
.vertical-table-view {
  margin-top: 20px;
  width: 100%; /* Ensure full width */
}

/* Card View Styles */
.card-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.student-card {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.mat-expansion-panel {
  width: 100%;
}

.mat-panel-title {
  font-weight: bold;
}

.mat-panel-description {
  color: gray;
}

/* Table View Styles */
.table-view {
  width: 100%; /* Make the table full width */
}

.mat-header-row {
  background-color: #f44336; /* Example background color for the header */
  color: white; /* White text color for header */
}

.mat-cell,
.mat-header-cell {
  padding: 16px; /* Increase padding for better readability */
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid #e0e0e0; /* Add bottom border to table cells */
}

.mat-header-cell {
  font-weight: bold; /* Make header text bold */
}

.mat-table {
  width: 100%; /* Ensure the table spans the full width */
  border-collapse: collapse; /* Cleaner table borders */
}

/* Elevation Shadow */
.mat-elevation-z8 {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ensure shadow only where needed */
}

/* Remove shadow from table view */
.table-view .mat-elevation-z8 {
  box-shadow: none;
}

/* Week Selector */
.week-selector {
  margin-bottom: 20px;
  width: 100%;
}

.mat-form-field-outline .mat-form-field-flex {
  background-color: #ffffff; /* White background for the input container */
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.mat-flat-button {
  background-color: #f44336;
  color: white;
}

.date-input {
  margin-bottom: 30px;
}
