<div class="login-container">
  <div class="login-form">
    <h1>Aca Explorers</h1>
    <p>Don't have an account? <a href="#">ACA Explorers</a></p>
    <form (ngSubmit)="onLogin(email.value, password.value)">
      <div class="input-group">
        <label for="email">Email Address</label>
        <input
          #email
          type="email"
          id="email"
          placeholder="Email Address"
          required
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          #password
          type="password"
          id="password"
          placeholder="Password"
          required
        />
      </div>
      <!--
      <div class="remember-me">
        <input type="checkbox" id="remember" />
        <label for="remember">Remember Me</label>
      </div>
      -->
      <button type="submit">Log In</button>
      <a href="#" class="forgot-password">Forgot Your Password?</a>
    </form>
  </div>
  <div class="login-image">
    <img
      src="https://www.acaexplorers.com/explorers/AeoCMS/AeoWeb/AeoImg/Aeao_Login_BG.png"
      alt="Rocket Launch Illustration"
    />
  </div>
</div>
