<div class="login-container">
  <div class="login-form">
    <h1>Aca Explorers</h1>
    <p>Don't have an account? <a href="#">ACA Explorers</a></p>
    <form (ngSubmit)="onLogin(email.value, password.value)">
      <div class="input-group">
        <label for="email">Email Address</label>
        <input
          #email
          type="email"
          id="email"
          placeholder="Email Address"
          required
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          #password
          type="password"
          id="password"
          placeholder="Password"
          required
        />
      </div>
      <!--
      <div class="remember-me">
        <input type="checkbox" id="remember" />
        <label for="remember">Remember Me</label>
      </div>
      -->
      <button type="submit">Log In</button>
      <a href="#" class="forgot-password">Forgot Your Password?</a>
    </form>
  </div>
  <div class="login-image">
    <img
      src="https://scontent.fbog4-3.fna.fbcdn.net/v/t1.6435-9/123187008_3441403272582308_7010751785737499910_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFToWNA_x7BYJkYAql27SVr-HCfYOuMrL34cJ9g64ysvdWdcNeJ-TZ3KXylaNxP3tM&_nc_ohc=ka0clF9RSEcQ7kNvwG1PMMZ&_nc_oc=AdlCv_Q5aUavczL_eYNitNqLoZhihWmseE-s2OSuWjn3wt1dEFKITDmxuc5YZgHTnM8&_nc_zt=23&_nc_ht=scontent.fbog4-3.fna&_nc_gid=zbKYY9waxNNuAv4cCizhfg&oh=00_AfJmrpCVhNCtn3n3ZrnNhabjPmzA0fYUoIGw3enXCuxFGw&oe=684F7B54"
      alt="Rocket Launch Illustration"
    />
  </div>
</div>
