.mat-header-row {
  background-color: #3f51b5; /* Dark blue color */
  color: white;
}

.mat-cell,
.mat-header-cell {
  text-align: center;
  padding: 8px;
}

.mat-header-cell {
  font-weight: bold;
  color: white;
}

.generate-button {
  background-color: #2196f3; /* Blue color */
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
}

.generate-button:hover {
  background-color: #1976d2; /* Darker blue on hover */
}

.search-bar {
  margin-bottom: 20px;
}

.points-container {
    padding: 15px;
}

.date-input {
  margin-bottom: 20px;
}

/* Estilo para el botón de búsqueda */
.search-button {
  margin-left: 10px;
  background-color: #4caf50; /* Green color */
  color: white;
}