<div class="dashboard">
  <!-- Row 1 -->
  <div class="dashboard-row">
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/clan.png"
          alt="Clan Dashboard"
        />
      </div>
      <p>Clan Dashboard</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/braindump_icon.png"
          alt="Brain Dump"
        />
      </div>
      <p>Brain Dump</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/message.png"
          alt="ACA Explorer Chat"
        />
      </div>
      <p>ACA Explorer Chat</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/profile.png"
          alt="Explorer Profile"
        />
      </div>
      <p>Explorer Profile</p>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="dashboard-row">
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/mastery.png"
          alt="Mastery"
        />
      </div>
      <p>Mastery</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/audio_board.png"
          alt="Audio Upload - Subir"
        />
      </div>
      <p>Audio Upload - Subir</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/audio_record.png"
          alt="Audio Record - Grabar"
        />
      </div>
      <p>Audio Record - Grabar</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/searchword.png"
          alt="SearchWord"
        />
      </div>
      <p>SearchWord</p>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="dashboard-row">
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/target.png"
          alt="Wordlist Level 1"
        />
      </div>
      <p>Wordlist Level 1</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/medal.png"
          alt="Wordlist Level 2"
        />
      </div>
      <p>Wordlist Level 2</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/resources.png"
          alt="Resources"
        />
      </div>
      <p>Resources</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/domain.png"
          alt="Keyboard"
        />
      </div>
      <p>Keyboard</p>
    </div>
  </div>

  <!-- Row 4 -->
  <div class="dashboard-row">
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/teamwork.png"
          alt="Study Report"
        />
      </div>
      <p>Study Report</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/gsuite.png"
          alt="G-Suite"
        />
      </div>
      <p>G-Suite</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/wiki.png"
          alt="ACA Wiki"
        />
      </div>
      <p>ACA Wiki</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/aca_ipa.png"
          alt="ACA IPA - beta"
        />
      </div>
      <p>ACA IPA - beta</p>
    </div>
  </div>

  <!-- Row 5 -->
  <div class="dashboard-row">
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/forum.png"
          alt="ACA FORUM"
        />
      </div>
      <p>ACA FORUM</p>
    </div>
    <div class="dashboard-item">
      <div class="icon">
        <img
          src="https://www.acaexplorers.com/explorers/img/3LayersofChange.png"
          alt="3 Layers of Change"
        />
      </div>
      <p>3 Layers of Change<br />3 Capas de Cambio</p>
    </div>
  </div>
</div>
